### Selenium
Selenium is a Python tool for automating web browsers to do number of tasks.

In [1]:
url="https://www.naukri.com/data-science-jobs?k=data%20science"

In [2]:
!pip install Selenium

Requirement already satisfied: Selenium in c:\users\nithyalakshmim\anaconda\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\nithyalakshmim\anaconda\lib\site-packages (from Selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\nithyalakshmim\anaconda\lib\site-packages (from Selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\nithyalakshmim\anaconda\lib\site-packages (from Selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\nithyalakshmim\anaconda\lib\site-packages (from Selenium) (0.22.0)
Requirement already satisfied: outcome in c:\users\nithyalakshmim\anaconda\lib\site-packages (from trio~=0.17->Selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\nithyalakshmim\anaconda\lib\site-packages (from trio~=0.17->Selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\nithyalakshmim\anaconda\lib\site-packages (from trio~=0.17->Selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\nithyalakshmim\anaconda\lib\site-packages (from trio~=0.17->Selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\nithyalakshmim\anaconda\lib\site-packages (from trio~=0.17->Selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\nithyalakshmim\anaconda\lib\site-packages (from trio~=0.17->Selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\nithyalakshmim\anaconda\lib\site-packages (from trio~=0.17->Selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\nithyalakshmim\anaconda\lib\site-packages (from trio~=0.17->Selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\nithyalakshmim\anaconda\lib\site-packages (from trio-websocket~=0.9->Selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\nithyalakshmim\anaconda\lib\site-packages (from urllib3[socks]~=1.26->Selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\nithyalakshmim\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->Selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\nithyalakshmim\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->Selenium) (0.14.0)

[notice] A new release of pip available: 23.0.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
from selenium import webdriver
from bs4 import BeautifulSoup
import os
os.chdir('D:\\scripts\\scrapping\\new')# install mozila geckodriver
# Firefox webdriver driver github
# WebDriver is a remote control interface that enables introspection and control of user agents

Selenium Firefox Driver, also called GeckoDriver is a browser engine developed by Mozilla for many applications. It provides a link between test cases and the Firefox browser. Without the help of GeckoDriver, one cannot instantiate the object of Firefox browser and perform automated Selenium testing.

In [5]:
#initiate the mozila firefox/Edge
browser=webdriver.Firefox()
#browser=webdriver.Edge()

In [6]:
browser.get(url)

In [12]:
html=browser.page_source  
#page_source method is used retrieve the page source of the webpage the user is currently accessing. 
soup=BeautifulSoup(html,'html.parser')

In [13]:
# position  #select() method to locate all elements of a particular CSS class
## position name
soup.select('a.title ')

[<a class="title" href="https://www.naukri.com/job-listings-data-science-engineer-enest-technologies-mohali-punjab-0-to-1-years-111223004328" rel="noopener noreferrer" target="_blank" title="Data Science Engineer">Data Science Engineer</a>,
 <a class="title" href="https://www.naukri.com/job-listings-data-science-manager-firstsource-hyderabad-secunderabad-telangana-bangalore-bengaluru-karnataka-mumbai-all-areas-5-to-10-years-121023007685" rel="noopener noreferrer" target="_blank" title="Data Science Manager">Data Science Manager</a>,
 <a class="title" href="https://www.naukri.com/job-listings-manager-data-science-western-digital-bangalore-bengaluru-8-to-12-years-121223501117" rel="noopener noreferrer" target="_blank" title="Manager, Data Science">Manager, Data Science</a>,
 <a class="title" title="Head Data Science &amp; Analytics">Head Data Science &amp; Analytics</a>,
 <a class="title" title="Director Data Science">Director Data Science</a>,
 <a class="title" title="Director Data Science">Director Data Science</a>,
 <a class="title" title="Head Data Science">Head Data Science</a>,
 <a class="title" title="Director Data Science">Director Data Science</a>,
 <a class="title" href="https://www.naukri.com/job-listings-senior-data-science-professional-xcel-hires-managment-solutions-pvt-ltd-bangalore-bengaluru-1-to-4-years-121223501158" rel="noopener noreferrer" target="_blank" title="Senior Data Science Professional">Senior Data Science Professional</a>,
 <a class="title" href="https://www.naukri.com/job-listings-advisory-data-science-assistant-manager-kpmg-india-bangalore-bengaluru-2-to-5-years-061223500984" rel="noopener noreferrer" target="_blank" title="Advisory Data Science Assistant Manager">Advisory Data Science Assistant Manager</a>,
 <a class="title" href="https://www.naukri.com/job-listings-senior-divisional-manager-data-science-tvs-motor-company-bangalore-bengaluru-14-to-18-years-051223501578" rel="noopener noreferrer" target="_blank" title="Senior Divisional Manager- Data Science">Senior Divisional Manager- Data Science</a>,
 <a class="title" href="https://www.naukri.com/job-listings-manager-data-science-any-location-indihire-consultants-hyderabad-bengaluru-delhi-ncr-10-to-15-years-111223002151" rel="noopener noreferrer" target="_blank" title="Manager Data Science - Any location">Manager Data Science - Any location</a>,
 <a class="title" href="https://www.naukri.com/job-listings-director-data-science-tiger-analytics-hyderabad-chennai-bengaluru-10-to-20-years-061223010646" rel="noopener noreferrer" target="_blank" title="Director - Data Science">Director - Data Science</a>,
 <a class="title" href="https://www.naukri.com/job-listings-senior-manager-digital-platforms-data-science-worleyparsons-sdn-bhd-mumbai-navi-mumbai-15-to-18-years-121223500799" rel="noopener noreferrer" target="_blank" title="Senior Manager, Digital Platforms &amp; Data Science">Senior Manager, Digital Platforms &amp; Data Science</a>,
 <a class="title" href="https://www.naukri.com/job-listings-assistant-manager-data-science-hindustan-unilever-ltd-bangalore-bengaluru-2-to-7-years-011223500837" rel="noopener noreferrer" target="_blank" title="Assistant Manager - Data Science">Assistant Manager - Data Science</a>,
 <a class="title" href="https://www.naukri.com/job-listings-data-science-engineer-kyndryl-multiple-location-kyndryl-hyderabad-telangana-pune-maharashtra-bangalore-bengaluru-karnataka-2-to-7-years-241123007317" rel="noopener noreferrer" target="_blank" title="Data Science Engineer @Kyndryl Multiple Location">Data Science Engineer @Kyndryl Multiple Location</a>,
 <a class="title" href="https://www.naukri.com/job-listings-data-science-generative-ai-senior-manager-ani-pricewaterhouse-coopers-private-limited-hyderabad-secunderabad-bangalore-bengaluru-12-to-20-years-210823501146" rel="noopener noreferrer" target="_blank" title="Data Science (Generative AI) - Senior Manager - ANI">Data Science (Generative AI) - Senior Manager - ANI</a>,
 <a class="title" href="https://www.naukri.com/job-listings-gm-scm-data-science-mastermind-network-delhi-ncr-13-to-15-years-301123012270" rel="noopener noreferrer" target="_blank" title="GM - SCM &amp; Data Science">GM - SCM &amp; Data Science</a>,
 <a class="title" href="https://www.naukri.com/job-listings-data-science-specialist-ai-ml-nlp-global-pharma-tek-bangalore-bengaluru-5-to-8-years-051223501117" rel="noopener noreferrer" target="_blank" title="Data Science Specialist AI ML NLP">Data Science Specialist AI ML NLP</a>,
 <a class="title" href="https://www.naukri.com/job-listings-senior-staff-engineer-data-science-nagarro-india-8-to-11-years-301123012170" rel="noopener noreferrer" target="_blank" title="Senior Staff Engineer (Data Science)">Senior Staff Engineer (Data Science)</a>,
 <a class="title" href="https://www.naukri.com/job-listings-head-data-science-analytics-exide-kolkata-west-bengal-mumbai-maharashtra-bangalore-bengaluru-7-to-10-years-151123005370" rel="noopener noreferrer" target="_blank" title="Head - Data Science &amp; Analytics">Head - Data Science &amp; Analytics</a>,
 <a class="title" href="https://www.naukri.com/job-listings-data-science-domain-manager-coursera-kolkata-mumbai-new-delhi-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-7-to-11-years-101023500825" rel="noopener noreferrer" target="_blank" title="Data Science Domain Manager">Data Science Domain Manager</a>,
 <a class="title" href="https://www.naukri.com/job-listings-senior-associate-data-science-axtria-noida-gurugram-1-to-5-years-211123007608" rel="noopener noreferrer" target="_blank" title="Senior Associate - Data Science">Senior Associate - Data Science</a>,
 <a class="title" href="https://www.naukri.com/job-listings-python-developer-data-science-tiger-analytics-tiger-analytics-hyderabad-secunderabad-chennai-bangalore-bengaluru-2-to-7-years-101123006845" rel="noopener noreferrer" target="_blank" title="Python Developer - Data Science - Tiger analytics">Python Developer - Data Science - Tiger analytics</a>,
 <a class="title" href="https://www.naukri.com/job-listings-data-science-sr-analyst-pepsi-foods-priv-limited-hyderabad-secunderabad-8-to-13-years-281123501328" rel="noopener noreferrer" target="_blank" title="Data Science Sr Analyst">Data Science Sr Analyst</a>]

In [14]:
soup.select('a.title')[0].text

'Data Science Engineer'

In [15]:
# List comprehension
titles=[i.text for i in soup.select("a.title")]
len(titles)

25

In [16]:
print(titles)

['Data Science Engineer', 'Data Science Manager', 'Manager, Data Science', 'Head Data Science & Analytics', 'Director Data Science', 'Director Data Science', 'Head Data Science', 'Director Data Science', 'Senior Data Science Professional', 'Advisory Data Science Assistant Manager', 'Senior Divisional Manager- Data Science', 'Manager Data Science - Any location', 'Director - Data Science', 'Senior Manager, Digital Platforms & Data Science', 'Assistant Manager - Data Science', 'Data Science Engineer @Kyndryl Multiple Location', 'Data Science (Generative AI) - Senior Manager - ANI', 'GM - SCM & Data Science', 'Data Science Specialist AI ML NLP', 'Senior Staff Engineer (Data Science)', 'Head - Data Science & Analytics', 'Data Science Domain Manager', 'Senior Associate - Data Science', 'Python Developer - Data Science - Tiger analytics', 'Data Science Sr Analyst']

In [17]:
#company=[i.text for i in soup.select("a.subTitle.ellipsis.fleft")]
company=[i.text for i in soup.select("a.comp-name.mw-25")]

len(company)

17

In [18]:
#Using selenium
#subtitle
#string patterns used to identify an element based on a combination of HTML tag, 
#id, class, and attributes.
#browser.find_elements_by_css_selector("a.comp-name.mw-25")[0].text

In [19]:
browser.find_elements(by='css selector',value='a.comp-name.mw-25')[0].text

'Enest Technologies'

In [38]:
#years
x=soup.find_all('span',class_='expwdth')[0].text
#soup.find_all('ul',class_='ellipsis fleft expwdth')[0].find_all("li")[0].text
len(x)

7

In [21]:
exp=[i.text for i in soup.find_all('span',class_='expwdth')]
len(exp)

20

In [22]:
#location
soup.find_all('span',class_='locWdth')[0].text
#soup.find_all('ul',class_='mt-7')[0].find_all("li")[2].text

'Mohali, Punjab'

In [23]:
loc=[i.text for i in soup.find_all('span',class_='locWdth')]
len(loc)

20

In [39]:
import pandas as pd
def get_table(soup):
    #titles=[i.text for i in soup.select("a.title")]
    #company=[i.text for i in soup.select("a.comp-name.mw-25")]
    exp=[i.text for i in soup.find_all('span',class_='expwdth')]
    loc=[i.text for i in soup.find_all('span',class_='locWdth')]
    table=pd.DataFrame({'loc':loc,'exp':exp})
    return table

In [40]:
get_table(soup)

                                                  loc        exp
0                                      Mohali, Punjab    0-1 Yrs
1   Hybrid - Hyderabad/ Secunderabad, Telangana, B...   5-10 Yrs
2                                 Bangalore/Bengaluru   8-12 Yrs
3                                 Bangalore/Bengaluru    1-4 Yrs
4                                 Bangalore/Bengaluru    2-5 Yrs
5                                 Bangalore/Bengaluru  14-18 Yrs
6                   Hyderabad, Bengaluru, Delhi / NCR  10-15 Yrs
7              Hybrid - Hyderabad, Chennai, Bengaluru  10-20 Yrs
8                                 Mumbai, Navi Mumbai  15-18 Yrs
9                                 Bangalore/Bengaluru    2-7 Yrs
10  Hybrid - Hyderabad, Telangana, Pune, Maharasht...    2-7 Yrs
11        Hyderabad/Secunderabad, Bangalore/Bengaluru  12-20 Yrs
12                                        Delhi / NCR  13-15 Yrs
13                                Bangalore/Bengaluru    5-8 Yrs
14                                             Remote   8-11 Yrs
15  Kolkata, West Bengal, Mumbai, Maharashtra, Ban...   7-10 Yrs
16  Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...   7-11 Yrs
17                           Hybrid - Noida, Gurugram    1-5 Yrs
18  Hyderabad/Secunderabad, Chennai, Bangalore/Ben...    2-7 Yrs
19                             Hyderabad/Secunderabad   8-13 Yrs

In [41]:
stub='https://www.naukri.com/data-science-jobs-{}?k=data%20science'

In [42]:
stub.format(3)

'https://www.naukri.com/data-science-jobs-3?k=data%20science'

In [44]:
import pandas as pd
def get_table(soup):
    #titles=[i.text for i in soup.select("a.title")]
    #company=[i.text for i in soup.select("a.comp-name.mw-25")]
    #exp=[i.text for i in soup.find_all('span',class_='expwdth')]
    loc=[i.text for i in soup.find_all('span',class_='locWdth')]
    table=pd.DataFrame({'exp':exp})
    return table

In [45]:
import time
Tables=[]
for i in range(1,10):
    url=stub.format(i)
    browser.get(url)
    time.sleep(2) #suspends (waits) execution of the current thread for a given number of seconds
    html=browser.page_source
    soup=BeautifulSoup(html,"html.parser")
    Tables.append(get_table(soup))

In [46]:
df=pd.concat(Tables,axis=0)
df.shape

(180, 1)

In [47]:
df.head()

        exp
0   0-1 Yrs
1  5-10 Yrs
2  8-12 Yrs
3   1-4 Yrs
4   2-5 Yrs

---------------------------------------------End ---------------------------------------------------